$color-white: white;
$color-black: black;
$bright-green: #84bc22;
$bright-green-darker: #84bc35;


.cookies-window {
	width: 85%;
	background-color: $color-white;
	padding: 30px;
	display: flex;
	border-radius: 20px;
	position: fixed;
	bottom: 20px;
	left: 0;
	right: 0;
	margin: auto;
	z-index: 100;
}
.cookies-notification-section {
	display: flex;
	flex-direction: column;
	flex: 5;
}
.cookies-btns {
	display: flex;
	flex-direction: column;
	flex: 2;
	justify-content: space-between;
	align-items: flex-end;
}
.cookies-notification-title {
	font-size: 14px;
	color: $bright-green;
	padding-bottom: 10px;
}
.cookies-notification-text {
	font-size: 12px;
}
.cookies-close-btn {
	border: none;
	background-color: $color-white;
	i {
		color: $color-black;
	}
}
.cookies-accept-btn {
	width: 130px;
	padding: 5px;
	border-radius: 100px;
	border: 2px solid $bright-green-darker;
	background-color: $bright-green;
	a {
		color: $color-white;
		font-size: 12px;
	}
}
.cookies-policy-link {
	color: $bright-green;
}
